#header{
    background-color: #e2c8a5;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
}

#nameAndTitle{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2 {
    margin: 0;
}

h1, h2 {
    text-transform: uppercase;
    
}

#contact{
    list-style-type: none;
    margin: 0px;
}

#contact i {
    width: 29px;
    color: #e2c8a5;
    margin: -4px;
}

#skills{
    list-style-type: none;
}

#skills i {
    width: 30px;
    color: #e2c8a5;
}

#Links{
    margin: 15px;
}

#Links a {
    width: 50px;
    color: #e2c8a5;
    margin: 15px;
    font-size: 30px;
}
    
#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3{
    font-family: 'Hubballi', cursive;
}
.cardm h3{
    color: #e2c8a5;
    font-family: 'Hubballi', cursive;
}

.cardm p{
    font-family: 'Hubballi', cursive;
    font-size: 20px;
}
.cardEx{
    font-family: Montserrat;
    border: 1px solid #d0cdcd;
    border-radius: 15px;
    padding: 20px;

}

.cacardEx h3, b{
    color: #e2c8a5;
    text-transform: uppercase;
}

#formation{
    list-style: none;
    color: #e2c8a5;
}

@media screen and (max-width:600px) {
    #sidebar{
        width: 100%;
    }
    #content {
        width: 100%;
        margin-top: 0;
        margin-left: -21px;
    }
    #container {
        width: 100%;
        margin-left: 190px;
    }
    #sidebar, .card {
        width: 100%;
        margin: 0px;
        margin-left: -92px;
    }
}